{% extends "base.html" %}

{% block title %}EasySchool - Cursos{% endblock %}

{% block content %}
    <h1 class="mb-4">Cursos</h1>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Título</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}